[submodule ".vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = link/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/nerdtree"]
	path = link/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = link/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/syntastic"]
	path = link/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = link/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-surround"]
	path = link/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-commentary"]
	path = link/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-repeat"]
	path = link/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-ruby"]
	path = link/.vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/taglist.vim"]
	path = link/.vim/bundle/taglist.vim
	url = git://github.com/emnh/taglist.vim.git
[submodule ".oh-my-zsh"]
	path = link/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-airline"]
	path = link/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-abolish"]
	path = link/.vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule ".dircolors-solarized"]
	path = link/.dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule ".vim/bundle/tabular"]
	path = link/.vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/bundle/ag.vim"]
	path = link/.vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "link/.vim/bundle/julia-vim"]
	path = link/.vim/bundle/julia-vim
	url = git@github.com:JuliaLang/julia-vim.git
[submodule "link/.rbenv"]
	path = link/.rbenv
	url = git@github.com:rbenv/rbenv.git
[submodule "link/.Renv"]
	path = link/.Renv
	url = git@github.com:viking/Renv.git
